@import url("https://fonts.googleapis.com/css?family=Michroma&display=swap");
body {
  background: linear-gradient(90deg, #00bba9 0%, #000000 100%);
  font-family: Michroma, serif;
}
p {
  color: aqua;
}
.nav-link {
  color: aqua;
}
.navbar-nav .nav-link.active {
  color: rgb(148, 148, 148);
}
.navbar-brand img {
  width: 40px;
}
.navbar-toggler {
  background-color: gold;
}
.sidebar {
  color: aqua;
  background: linear-gradient(270deg, #00756a 0%, #000000 100%);
}
.card {
  background: linear-gradient(270deg, #00756a 0%, #000000 100%);
  color: aqua;
}
.card a {
  text-decoration: none;
  color: aqua;
}

.slidetext,
.footertext {
  color: aqua;
  margin: auto auto;
}

footer,
.btn {
  background: linear-gradient(270deg, #00756a 0%, #000000 100%);
}

.medialinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.callanim {
  animation: call 2s ease 0s infinite normal forwards;
}
@keyframes call {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}
@media (max-width: 755px) {
  .carousel-indicators {
    display: none;
  }
}
